#chatbox {
	position:fixed;
	display: flex;
	flex-direction:column;
	width:50vmin;
	height:15vmin;
	z-index: 99;
	background-color: rgba(0,0,0,0.3);
	overflow: hidden;
	transition: scale 0.25s;
}
.resizeable {
	resize:both;
}
#chatTitleBar{
	background-color: rgba(80,0,80,0.75);
	user-select: none;
	padding:5;
}
#chatContents {
	display:flex;
	flex-direction:column;
	flex-grow:1;
	padding: 5;
	overflow-y:auto;
	overflow-x:hidden;
}
.inputBox {
	display:flex;
	flex-direction:row;
	width:100%;
}
#userName {
	width:20%;
	max-width:100px;
}
#text {
	flex-grow:1;
}
.inputBox button {
	max-width:50px;
}
.chat {
	font-size: 0.5vmin;
}
.self {color: yellow;}
.opponent {color: white;}
.notification {color: lightgray;}
.MinimizeButton {
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
	width:25px;
	height:25px;
	top:0;
	right:0;
	background-color: rgba(80,0,80,0.75);
}
.minimized {
	max-height:25px;
	max-width:25px;
}
