@font-face {
	font-family: 'Kongtext';
	src: url('./fonts/kongtext.ttf')
}

body{
    background:rgb(30,30,30);
    font-family: 'Kongtext', cursive;
    font-size: clamp(8px, 1vw, 16px);
    color:white;
    margin:0;
    padding:0;
    overflow:hidden;
}
canvas{
    z-index:0;
    position:absolute;
    top:0;
    left:0;
}